<section class="campaign">
    <div class="sec-title">Campaigns</div>
    <div class="campaign-list js-slick">
        <div class="campaign-item">
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/tickets/campaign/campaign-image-1-sp.jpg">
                <img src="/assets/images/tickets/campaign/campaign-image-1.jpg" alt="">
            </picture>
            <div class="campaign-item_ticket">
                <p class="ticket-title">Grand Opening Offer</p>
                <div class="ticket-info">
                    <p class="off">10％OFF</p>
                    <p class="desc">One Day Ticket<br>2,160yen～</p>
                    <p class="note">Offer valid until end of March 2019</p>
                    <a href="admission.html#regdl=1-day-ticket-fixed-day" class="btn -arr js-purchase-tickets">More</a>
                </div>
            </div>
        </div>
        <% if (false) { %>
        <div class="campaign-item">
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/tickets/campaign/campaign-image-2-sp.jpg">
                <img src="/assets/images/tickets/campaign/campaign-image-2.jpg" alt="">
            </picture>
            <div class="campaign-item_ticket">
                <p class="ticket-title">オープニング記念</p>
                <div class="ticket-info">
                    <p class="off">10％OFF</p>
                    <p class="desc">Kimono rental KYONISHIKI<br>変身衣装［侍 / 女剣士］</p>
                    <p class="note">3月末までの特別価格</p>
                    <a href="costume.html" class="btn -arr js-purchase-tickets">詳しく</a>
                </div>
            </div>
        </div>
        <div class="campaign-item">
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/tickets/campaign/campaign-image-3-sp.jpg">
                <img src="/assets/images/tickets/campaign/campaign-image-3.jpg" alt="">
            </picture>
            <div class="campaign-item_ticket">
                <p class="ticket-title">オープニング記念</p>
                <div class="ticket-info">
                    <p class="off">10％OFF</p>
                    <p class="desc">呉服所 京錦<br>変身衣装［子供忍者］</p>
                    <p class="note">3月末までの特別価格</p>
                    <a href="costume.html" class="btn -arr js-purchase-tickets">詳しく</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="campaign-indicator"></div>
</section>