@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";

// form reset
input, button, textarea, select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}

a {
    color: $color-main;
    &.link {
        text-decoration: underline;
    }
    &.text-link {
        text-decoration: none;
    }
    @include media-pc {
        &.link:hover {
            text-decoration: none;
        }
        &.text-link:hover {
            text-decoration: underline;
        }
    }
}
strong {
    font-weight: bold;
}

.f-xlarge {
    font-size: 1.6666em;
}
.f-large {
    font-size: 1.3333em;
}
.f-smaller {
    font-size: 0.9em;
}
.f-small {
    font-size: 0.6666em;
}
.f-xsmall {
    font-size: 0.5em;
}
.f-xxsmall {
    font-size: 0.3em;
}
.t-center {
    text-align: center !important;
}
.t-left {
    text-align: left !important;
}
.t-right {
    text-align: right !important;
}

a.btn {
    display: inline-block;
    background-color: $color-red;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 1;

    &.-center {
        display: block;
        margin: auto;
    }
    &.-arr {
        background: {
            image: url("../images/cmn/arr-right-white.svg");
            repeat: no-repeat;
            position: 96% center;
            size: 0.9em auto;
        };
    }
    &.-gift {
        background: {
            image: url("../images/cmn/arr-right-white.svg"), url("../images/cmn/icn-gift.svg");
            repeat: no-repeat;
            position: 96% center, 8% center;
            size: 0.9em auto, 1.2em auto;
        };
    }

    @include media-pc {
        padding: px(16) 0;
        width: px(360);
        font-size: px(16);
        @include transition(background-color 300ms $easeOutCubic);
        &:hover {
            background-color: #d34c5c;
        }
        &.-gift {
            font-size: px(14);
            padding-left: 0.5em;
        }
    }
    @include media-sp {
        padding: vw(32) 0;
        width: vw(500);
        font-size: vw(24);
        &.-gift {
            background: {
                position: 96% center, 29% center;
            }
        }
    }
}

.sec-title {
    padding-bottom: 1rem;
    line-height: 1.3;
    text-align: center;
    @include font-serif;

    &:after {
        content: '';
        position: absolute;
        margin: auto;
        left: 0; right: 0;
        bottom: 0;
        border-top: solid 2px #d7cdbf;
    }

    @include media-pc {
        font-size: px(20);
        &:after {
            width: px(28);
        }
    }
    @include media-sp {
        font-size: vw(36);
        &:after {
            width: vw(28);
        }
    }
}

.sec-header {
    border-top: solid 1px #eee;
    &_title {
        background: white;
        h2 {
            text-align: center;
            font-weight: 400;
        }
        .back {
            display: block;
            position: absolute;
            margin: auto;
            top: 0; bottom: 0;
            &:before {
                content: '';
                display: block;
                position: absolute;
                margin: auto;
                top: 0; bottom: 0;
                left: 0; right: 0;
                border-top: solid 2px $color-red;
                border-left: solid 2px $color-red;
                @include rotate(-45deg);
            }
        }
    }
    @include media-pc {
        &_title {
            h2 {
                padding: px(16) 0;
            }
            .back {
                left: px(30);
                width: px(30);
                height: px(30);
                @include transition(transform 200ms $easeOutCubic);

                &:before {
                    width: px(10);
                    height: px(10);

                }
                &:hover {
                    @include translateX(-3px);
                }
            }
        }
    }
    @include media-sp {
        &_title {
            h2 {
                font-size: vw(30);
                padding: vw(30) 0;
            }
            .back {
                left: vw(20);
                width: vw(50);
                height: vw(50);
                &:before {
                    width: vw(16);
                    height: vw(16);
                }
            }
        }
    }
}


@include media-pc {
    .sp {
        display: none !important;
    }
}
@include media-sp {
    .pc {
        display: none !important;
    }
}