@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";

.time {
    &-summary {
        margin: auto;
        text-align: center;
        line-height: 1.2;
        font-weight: 400;
        p {
            margin-bottom: 0.6em;
            line-height: 1.3;
            span {
                font-size: 0.75em;
            }
        }
        > span {
            font-weight: 300;
        }
        .closure {
            background: white;
            color: $color-red;
            line-height: 1.5;
            dt {
                margin-bottom: 1em;
                text-align: center;
            }
            dd {
                text-align: left;
            }
        }
    }

    @include media-pc {
        padding: px(60) 0;
        &-summary {
            max-width: px(840);
            margin-top: px(48);
            font-size: px(18);
            .closure {
                margin-top: 2em;
                padding: 2em;
                dt {
                    font-size: px(18);
                }
                dd {
                    padding-left: 1em;
                    font-size: px(16);
                }
            }
        }
    }
    @include media-sp {
        padding: vw(70) 0 vw(60);
        &-summary {
            width: vw(710);
            margin-top: vw(50);
            font-size: vw(30);
            p {
                span {
                    display: block;
                }
            }
            .closure {
                margin-top: 1em;
                padding: 1em;
                dt {
                    font-size: vw(30);
                }
                dd {
                    padding-left: 1em;
                    font-size: vw(26);
                }
            }
        }
    }
}



.fee {

    &-list {
        margin: auto;
    }
    &-item {
        &_note {
            line-height: 1.3;
        }
    }
    &-table {
        width: 100%;
        caption {
            box-sizing: border-box;
            padding: 0.6em 0;
            text-align: center;
            color: white;
            span {
                display: inline-block;
                margin-top: 0.4em;
                opacity: 0.8;
                line-height: 1.4;
                font-weight: 100;
            }
        }
        th,td {
            font-weight: 300;
            line-height: 1.3;
            text-align: center;
            vertical-align: middle;
            &:nth-of-type(1) {
                background: white;
            }
            &:nth-of-type(2) {
                background: #fdfbf7;
            }
            &:nth-of-type(3) {
                background: #fbf7f3;
            }
            &:nth-of-type(4) {
                background: #f7f2eb;
            }
        }
        td {
            &:nth-of-type(n + 2) {
                font-weight: 400;
            }
        }

        &.-entry {
            caption {
                padding: 1.2em 0;
                background: #3f3a39;
            }
        }
        &.-bath {
            caption {
                background: #3f3a39;
            }
        }
        &.-night {
            caption {
                background: #626576;
            }
        }
        &.-family {
            caption {
                background: #9f8b53;
            }
        }
        &.-ganbanyoku {
            caption {
                background: #324940;
            }
        }
        &.-fish {
            caption {
                background: #598197;
            }
        }
        &.-health {
            caption {
                background: #bf9796;
            }
        }
    }

    @include media-pc {
        &-list {
            width: 96%;
            max-width: px(840);
            display: flex;
            flex-flow: row wrap;
            align-content: stretch;
            justify-content: space-between;

            &.-col1 {
                .fee-item {
                    width: 100%;
                }
            }
        }
        &-item {
            width: px(360);
            min-height: px(256);
            &_note {
                font-size: px(12);
                padding: px(18) px(18) 0;
            }
        }
        &-table {
            caption {
                font-size: px(18);
            }
            th, td {
                width: 25%;
                height: px(55);
            }
            th {
                font-size: px(14);
            }
            td {
                font-size: px(12);
            }
            &.-entry {
                margin-bottom: 1em;
            }
            &.-family {
                width: 100%;
                td {
                    padding: 0 10%;
                    text-align: center;
                    div {
                        display: inline-block;
                        vertical-align: top;
                        padding: px(30) px(40);
                        text-align: left;
                        p {
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
            &.-health {
                caption {
                    height: px(76);
                }
                td {
                    height: px(94);
                }
            }
            &.-fish {
                caption {
                }
            }
        }
    }
    @include media($BP-SP, 1200px) {
        &-list {

        }
    }
    @include media-sp {
        &-list {
            width: vw(710);
            margin: auto;
        }
        &-item {
            width: 100%;
            padding-bottom: vw(100);
            &_note {
                font-size: vw(20);
                padding: vw(20) vw(36) 0;
            }
        }
        &-table {
            caption {
                font-size: vw(30);
            }
            th, td {
                width: 25%;
                height: vw(110);
                font-size: vw(24);
            }

            &.-family {
                td {
                    padding: vw(40) vw(30);
                    div {
                        padding: 0 vw(120);
                        text-align: left;
                        &:nth-of-type(n + 2) {
                            margin-top: 2em;
                        }
                        p {
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
            &.-health {
                td {
                    height: vw(160);
                }
            }
        }
    }
}
@at-root html[lang='en'] .fee {
    @include media-pc {
        &-table {
            &.-family {
                width: 100%;
                td {
                    padding: 0 2%;
                    div {
                        display: inline-block;
                        vertical-align: top;
                        padding: px(30) px(20);
                        text-align: left;
                        p {
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }
}

.fees {
    background: $color-background2;
    @include media-pc {
        padding: px(60) 0 px(70);
        .sec-title {
            margin-bottom: px(50);
            &.-option {
                margin-top: px(50);
            }
        }
    }
    @include media-sp {
        padding: vw(70) 0 0;
        .sec-title {
            margin-bottom: vw(50);
            &.-option {
                margin-top: vw(50);
            }
        }
    }
}
.option {
    background: $color-background3;
    @include media-pc {
        padding: px(60) 0 px(10);
        .sec-title {
            margin-bottom: px(50);
        }
    }
    @include media-sp {
        padding: vw(70) 0 0;
        .sec-title {
            margin-bottom: vw(50);
        }
    }
}
.hours {
    background: $color-background3;

    &-btn {
        display: inline-block;
        background-color: transparent;
        border: solid 1px $color-main;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        @include transition(all 300ms $easeOutCubic);

        &.-active {
            background-color: $color-red;
            border-color: $color-red;
            color: white;
        }
        &.-disabled {
            pointer-events: none;
            opacity: 0.3;
        }
    }
    &-btn_block {
        text-align: center;
        font-size: 0;
    }
    &-list {
        margin:auto;
    }
    &-table {
        margin: auto;
        dl {
            width: 100%;
            line-height: 1.6;
            &:nth-of-type(n + 2) {
                border-top: solid 1px #f3f3f3;
            }
            dt, dd {
                box-sizing: border-box;
            }
        }
        dt {
            background: white;
            font-weight: 500;
        }
        dd {
            background: #fdfbf7;
            font-weight: 400;
            strong {
                display: block;
            }
            p:nth-of-type(n + 2) {
                margin-top: 0.5em;
            }
        }
    }

    @include media-pc {
        padding: px(60) 0 px(80);
        .sec-title {
            margin-bottom: px(40);
        }
        &-btn_block {
            margin-bottom: px(50);
        }
        &-btn {
            width: px(100);
            padding: px(18) 0;
            margin: 0 px(20);
            &:hover {
                background-color: $color-red;
                border-color: $color-red;
                color: white;
            }
        }
        &-list {

        }
        &-table {
            width: px(720);
            dl {
                display: table;
            }
            dt, dd {
                padding: px(40) px(26);
                display: table-cell;
                vertical-align: middle;
            }
            dt {
                padding-right: px(0);
                width: px(300);
                font-size: px(16);
            }
            dd {
                font-size: px(14);
            }
        }
    }
    @include media-sp {
        padding: vw(70) 0 vw(100);
        .sec-title {
            margin-bottom: vw(50);
        }
        &-btn_block {
            margin: vw(60) 0 vw(100);
        }
        &-btn {
            width: vw(126);
            padding: vw(40) 0;
            margin: 0 vw(30);
        }
        &-table {
            width: vw(710);
            dt, dd {
                padding: vw(46);
            }
            dt {
                font-size: vw(30);
            }
            dd {
                padding-left: vw(90);
                font-size: vw(26);
            }
        }
    }
}
.attention {
    background: $color-background;
    ul {
        margin: auto;
        line-height: 1.3;
        li {
            padding-left: 1.3em;
            text-indent: -1.0em;
            &:nth-of-type(n + 2) {
                margin-top: 0.4em;
            }
        }
    }
    @include media-pc {
        padding: px(46) 0;
        ul {
            width: 96%;
            max-width: px(840);
            li {
                font-size: px(12);
            }
        }
    }
    @include media-sp {
        padding: vw(70) 0;
        ul {
            width: 96%;
            max-width: vw(650);
            li {
                font-size: vw(24);
            }
        }
    }
}