@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";


.news-header {

    &_category {
        text-align: center;
        font-size: 0;
        a {
            display: none;
            //display: inline-block;
            padding: 0.4em 0;
            text-decoration: none;
            &.-active {
                border-bottom: solid 1px;
            }
        }
    }

    @include media-pc {
        &_category {
            background: url("../images/cmn/lower-bg.png") center 0 repeat-x $color-background;
            background-size: px(46) auto;
            padding: px(50) 0;
            a {
                margin: 0 px(30);
                font-size: px(14);
                &:hover {
                    border-bottom: solid 1px;
                }
            }
        }
    }
    @include media-sp {
        &_category {
            display: none;
            background: white;
            border-top: solid 1px #eee;
            padding: vw(24) 0;
            a {
                margin: 0 vw(20);
                font-size: vw(20);
            }
        }
    }
}

.news-others {
    .news-list {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: flex-start;

        &_item {
            a {
                text-decoration: none;
            }
            img {
                width: 100%;
            }
            .date {
                margin: 1rem 0 0.5rem;
            }
            .desc {
                font-weight: 400;
                line-height: 1.4;
            }
        }
    }
}

$gutter: px(15);

.news-index {
    @include media-sp {
        padding-top: vw(90);
        background: url("../images/cmn/lower-bg.png") center 0 repeat-x $color-background;
        background-size: vw(92) auto;
    }
    .news-list {
        margin: auto;
        display: flex;
        flex-flow: row wrap;

        @include media-pc {
            width: calc(100% - 2*#{$gutter});
            max-width: px(840);
        }

        @include media-sp {
            padding-bottom: vw(74);
            width: vw(630);
            justify-content: space-between;
        }

        &_item {
            @include media-pc {
                width: 33.33%;
                padding: 0 $gutter px(60);
            }
            @include media-sp {
                width: vw(285);
                padding-bottom: 2em;
            }
            a {
                text-decoration: none;
                @include media-pc {
                    display: block;
                    &:hover {
                        text-decoration: underline;
                        img {
                            opacity: 0.9;
                        }
                    }
                }
            }

            picture {
                @include media-pc {
                    display: block;
                    position: relative;
                    padding-top: 100%;
                }
            }
            img {
                width: 100%;
                @include media-pc {
                    @include transition(opacity 200ms);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @include media-sp {
                    width: 100%;
                }
            }
            .date {
                margin: 1rem 0 0.5rem;
                @include media-pc {
                    font-size: px(14);
                }
                @include media-sp {
                    font-size: vw(24);
                }
            }
            .desc {
                font-weight: 400;
                line-height: 1.4;
                @include media-pc {
                    font-size: px(17);
                }
                @include media-sp {
                    font-size: vw(28);
                }
            }
        }
    }
}
.news-others {
    @include media-pc {
        background: url("../images/news/cloud-bg.png") center 0 no-repeat $color-background2;
        padding-top: px(150);
        padding-bottom: px(80);
        .sec-title {
            margin-bottom: px(72);
        }
        .news-list {
            width: 96%;
            max-width: px(600);
            &_item {
                width: px(240);
                height: px(370);
                &:nth-of-type(even) {
                    margin-left: px(120);
                }
                .date {
                    font-size: px(14);
                }
                .desc {
                    font-size: px(17);
                }
            }
        }
    }
    @include media-sp {
        background: url("../images/news/cloud-bg-sp.png") center 0 no-repeat $color-background2;
        background-size: 100% auto;
        padding-top: vw(150);
        padding-bottom: vw(100);
        .sec-title {
            margin-bottom: vw(52);
        }
        .news-list {
            padding-bottom: vw(74);
            width: vw(630);
            justify-content: space-between;
            &_item {
                width: vw(285);
                height: vw(460);
                &:nth-of-type(even) {
                    float: right;
                }
                img {
                    width: 100%;
                }
                .date {
                    font-size: vw(24);
                }
                .desc {
                    font-size: vw(28);
                }
            }
        }
    }
}

.news-article {
    &_header {
        text-align: center;
        h2 {
            line-height: 1.3;
            @include font-serif();
        }
        picture {
            display: block;
            margin: auto;
            img {
                width: 100%;
            }
        }
    }
    &_body {
        margin: auto;
    }
    &_text {
        margin: auto;
        line-height: 1.4;
        text-align: justify;
        text-justify: inter-ideograph;
    }
    &_item {
        picture {
            display: inline-block;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .desc {
            dt {
                line-height: 1.4;
                &:nth-of-type(1) {
                    font-size: 1.125em;
                    font-weight: 400;
                }
            }
            dd {
                margin-top: 1em;
                line-height: 1.6;
                text-align: justify;
                text-justify: inter-ideograph;
            }
        }
    }
    &_share {
        text-align: center;
        font-size: 0;
        p {
            font-weight: 400;
        }
        a {
            display: inline-block;
            img {
                width: 100%;
            }
        }
    }


    @include media-pc {
        &_header {
            h2 {
                padding: px(45) 0;
                font-size: px(40);
            }
            picture {
                max-width: px(1440);
            }
        }
        &_body {
            width: 96%;
            max-width: px(840);
            > div {
                @include pie-clearfix;
                &:nth-of-type(n + 2) {
                    margin-top: px(50);
                }
                &:last-of-type {
                    margin-bottom: px(70);
                }
            }
        }
        &_item {
            picture {
                float: left;
                width: 42%;
            }
            .desc {
                position: absolute;
                right: 0;
                width: 50%;
                top: 50%;
                @include translateY(-50%);
                font-size: px(14);
            }
        }
        &_text {
            margin: px(70) auto;
            width: px(720);
        }
        &_share {
            margin-bottom: px(35);
            p {
                margin-bottom: px(30);
                font-size: px(14);
            }
            a {
                width: px(28);
                margin: 0 px(12);
                @include transition(transform 300ms $easeOutCubic);
                &:hover {
                    @include scale(1.1);
                }
            }
        }
    }
    @include media-sp {
        &_header {
            h2 {
                padding: vw(60) 0;
                font-size: vw(80);
                .space {
                    display: inline-block;
                    width: 0.3em;
                }
            }
        }
        &_body {
            p:nth-of-type(2).news-article_text {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0; right: 0;
                    top: 0;
                    margin: auto;
                    width: vw(190);
                    border-top: solid 1px #e2dbd1;
                }
            }
        }
        &_text {
            padding: vw(70) 0;
            width: vw(630);
        }
        &_item {
            .desc {
                margin: auto;
                padding: vw(60) 0 vw(90);
                width: vw(630);
            }
        }
        &_share {
            margin: vw(120) 0;
            p {
                margin-bottom: vw(30);
                font-size: vw(26);
            }
            a {
                width: vw(58);
                margin: 0 vw(22);
            }
        }
    }
}

// en
@at-root html[lang='en'] .news-article {
    @include media-pc {
        &_item {
            picture {
                float: left;
                width: 42%;
            }
            .desc {
                float: right;
                position: relative;
                right: auto;
                top: 0;
                @include translateY(0);
            }
        }
    }
}



// FAQ
.news-article {
    .faq-item {
        margin: auto;
        dt {
            margin-left: 2em;
            //padding-left: 2em;
            text-indent: -1em;
            font-weight: 400;
            line-height: 1.2;
            span {
                display: inline-block;
                margin-right: 0.5em;
                font-weight: bold;
            }
        }
        dd {
            line-height: 1.6;
        }
    }
    @include media-pc {
        .faq-item {
            margin-bottom: px(35);
            dt {
                margin-bottom: px(12);
                font-size: px(18);
                span {
                    font-size: px(30);
                }
            }
            dd {
                font-size: px(12);
            }
        }
    }
    @include media-sp {
        .faq-item {
            width: vw(630);
            margin-bottom: vw(80);
            dt {
                margin-bottom: vw(35);
                font-size: vw(36);
                span {
                    font-size: vw(60);
                }
            }
            dd {
                font-size: vw(26);
            }
        }
    }
}

// beginner
.news-article_beginner {
    margin: auto;
    .beginner {
        margin: auto;
        &-header {
            margin: auto;
            line-height: 1.6;
            &_lead {

            }
            &_notice {
                margin: auto;
                background: #f8eee3;
                dt {
                    margin-bottom: 0.4em;
                    @include font-serif;
                }
                dd {
                    span {
                        display: inline-block;
                        margin-top: 0.4em;
                    }
                }
            }
        }
        &-body {
            .info {
                margin: auto;
                dl {
                    line-height: 1.6;
                    dt {
                        font-weight: 400;
                    }
                    dd {
                        font-weight: 200;
                    }
                }
            }
            .image {
                img {
                    width: 100%;
                }
            }
        }
        &-caution {
            margin: auto;
            color: white;
            text-align: center;
            dt {
                @include font-serif;
            }
            dd {
                line-height: 1.8;
            }
        }
    }
    @include media-pc {
        width: px(960);
        .beginner {
            &-header {
                margin-bottom: px(60);
                width: px(840);
                &_lead {
                    margin-bottom: px(50);
                }
                &_notice {
                    width: px(720);
                    padding: px(20) px(40);
                    dt {
                        font-size: px(12);
                    }
                    dd {
                        font-size: px(9);
                    }
                }
            }
            &-body {
                margin-bottom: px(75);
                .sec-title {
                    margin-bottom: px(50);
                }
                .image + .info {
                    margin-top: px(-25);
                    margin-bottom: px(30);
                }
                .info {
                    width: px(840);
                    margin-bottom: px(62);
                    dl {
                        text-align: left;
                        display: inline-block;
                        border: solid 1px white;
                        color: white;
                        width: px(480);
                        padding: px(20) px(20);
                        font-size: px(14);
                    }
                    &-2, &-4,&-6,&-8 {
                        text-align: right;
                    }
                    $colors: rgba(#3f3a39, 0.8), #ad9b6a, #598197, #bf9796, #626576, #324940, rgba(#3f3a39, 0.8), rgba(#b2a072, 0.8);
                    @for $i from 1 through 8 {
                        &-#{$i} dl {
                            background-color: nth($colors, $i);
                        }
                    }
                }
            }
            &-caution {
                width: px(720);
                height: px(230);
                background: url("../images/news/beginner/caution-bg.jpg") center center no-repeat {
                    size: contain;
                }
                padding-top: px(40);
                dl {
                    dt {
                        margin-bottom: px(12);
                        font-size: px(16);
                    }
                    dd {
                        font-size: px(12);
                    }
                }
            }
        }
    }
    @include media-sp {
        .beginner {
            &-header {
                margin-bottom: vw(100);
                width: vw(710);
                &_lead {
                    padding: 0 vw(40);
                    margin-bottom: vw(30);
                }
                &_notice {
                    padding: vw(20) vw(40);
                    dt {
                        font-size: vw(22);
                    }
                    dd {
                        font-size: vw(22);
                    }
                }
            }
            &-body {
                margin-bottom: vw(75);
                .sec-title {
                    margin-bottom: vw(50);
                }
                .image {
                    margin-bottom: vw(50);
                }
                .info {
                    dl {
                        padding: 0 vw(60);
                        margin-bottom: vw(50);
                        dt {
                            margin-bottom: vw(20);
                            font-size: vw(48);
                        }
                        dd {
                            font-size: vw(26);
                        }
                    }
                }
            }
            &-caution {
                width: vw(710);
                height: vw(650);
                background: url("../images/news/beginner/caution-bg-sp.jpg") center center no-repeat {
                    size: contain;
                }
                margin-bottom: vw(100);
                padding-top: vw(100);
                dl {
                    width: vw(600);
                    margin: auto;
                    dt {
                        margin-bottom: vw(30);
                        font-size: vw(28);
                    }
                    dd {
                        text-align: left;
                        font-size: vw(21);
                    }
                }
            }
        }
    }
}

// event
.news-article_event {
    overflow: hidden;
    .news-article_body {
        width: auto;
        max-width: none;
    }
    .event-item {
        margin: auto;
        overflow: visible;
        &_image {
            .catch {
                font-size: 0;
                span {
                    display: inline-block;
                    @include font-serif;
                    background: #dabb76;
                    font-size: 1rem;
                }
            }
        }
        &_title {
            @include font-serif;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                height: 1px;
                background:#ceab5d;
            }
            p {
                color: #ceab5d;
            }
        }
        &_info {
            margin: auto;
            background: $color-background2;
            .desc {
                @include font-serif;
                line-height: 1.4;
            }
            .schedule {
                dl {
                    display: table;
                    > * {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    dt {
                        background-color: #3f3a39;
                        color: white;
                        text-align: center;
                    }
                    dd {
                        line-height: 1.4;
                    }
                }
                .notice {
                    line-height: 1.2;
                }
            }
        }
    }
    .event-guest {
        margin: auto;
        h4 {
            background-color: #3f3a39;
            color: white;
            text-align: center;
            font-weight: 400;
        }
        &_list {
            display: flex;
            flex-flow: row wrap;
            align-content: stretch;
            justify-content: flex-start;
            > div {
                border-left: solid 1px $color-background;
                border-right: solid 1px $color-background;
                border-bottom: solid 1px $color-background;
                background-color: #fbf7f3;
                &.-sat {
                    background: #f6f9ff;
                }
                &.-sun {
                    background: #fcf0f0;
                }
            }
        }
        &_item {
            text-align: center;
            line-height: 1.4;
            .month, .day, dt {
                font-weight: 400;
            }
            .day span {
                font-weight: 300;
                font-size: 0.7em;
                margin-left: -0.3em;
            }
        }
    }
    @include media-pc {
        .news-article_header {
            margin-bottom: px(120);
        }
        .event-item {
            max-width: px(960);
            margin-bottom: px(160);
            &_image {
                position: absolute;
                top: px(30);
                width: px(660);
                z-index: 2;
                .catch {
                    position: absolute;
                    top: px(-75);
                    left: px(-40);
                    span {
                        padding: px(8) px(30);
                        font-size: px(36);
                        &:nth-of-type(2) {
                            margin-top: px(-4);
                            margin-left: px(76);
                        }
                    }
                }
                img {
                    width: 100%;
                }
            }
            &_title {
                padding-bottom: px(24);
                margin-bottom: px(48);
                &:after {
                    width: px(90);
                }
                h3 {
                    margin-bottom: px(16);
                    font-size: px(46);
                }
                p {
                    font-size: px(26);
                }
            }
            &_info {
                padding: px(30) {
                    bottom: px(100);
                }
                .desc {
                    width: px(460);
                    margin-bottom: px(16);
                }
                .schedule {
                    dl {
                        display: table;
                        font-size: px(14);
                        &:nth-of-type(n + 2) {
                            margin-top: px(10);
                        }
                        dt {
                            padding: px(10) 0;
                            width: px(66);
                        }
                        dd {
                            padding: px(10);
                        }
                    }
                    .notice {
                        margin-top: px(16);
                        font-size: px(12);
                    }
                }
            }
        }
        .news-article_body {
            > div:nth-of-type(odd) .event-item {
                &_image {
                    left: px(550);
                }
                &_title {
                    left: px(-52);
                }
            }
            > div:nth-of-type(even) .event-item {
                &_image {
                    left: px(-260);
                    .catch {
                        left: auto;
                        right: px(-30);
                    }
                }
                &_title {
                    padding-left: px(480);
                }
                &_info {
                    padding-left: px(480);
                }
            }
        }
        .event-guest {
            margin-top: px(60);
            max-width: px(1000);
            h4 {
                padding: px(20);
                font-size: px(18);
            }
            &_item {
                padding: px(18) 0;
                width: 12.5%;
                margin-bottom: px(20);
                font-size: px(14);
                dl {
                    margin-top: px(16);
                    font-size: px(12);
                    dd:first-of-type {
                        margin-bottom: px(16);
                    }
                }
            }
        }
    }
    @include media($BP-SP, 1100px) {
        .news-article_body {
            > div:nth-of-type(odd) .event-item {
                &_title {
                    left: 0;
                }
                &_info {
                    .desc {
                        width: px(420);
                    }
                }
            }
        }
    }
    @include media($BP-PC, 1366px) {

        .news-article_body > div:nth-of-type(odd) {
            .event-item_image {
                left: px(490);
                width: 50%;
            }
            .event-item_info {
                .desc,
                .schedule {
                    max-width: 50%;
                }
            }
        } 

        .news-article_body >div:nth-of-type(even) {
            .event-item_image {
                left: px(-10);
                width: 50%;

                .catch {
                    right: initial;
                }
            } 

            .event-item_title {
                padding-left: px(500);
            }

            .event-item_info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: px(500);
                .desc,
                .schedule {
                    max-width: 80%;
                }
            }
        }
    }
    @include media-sp {
        .news-article_header {
            margin-bottom: vw(200);
        }
        .event-item {
            margin-bottom: vw(200);

            &_image {
                margin-bottom: vw(55);
                .catch {
                    position: absolute;
                    top: vw(-105);
                    span {
                        padding: vw(15) vw(40);
                        font-size: vw(46);
                        &:nth-of-type(2) {
                            margin-top: vw(-4);
                            margin-left: vw(76);
                        }
                    }
                }
                img {
                    width: 100%;
                }
            }
            &_title {
                padding: 0 vw(40) vw(30);
                margin-bottom: vw(44);
                &:after {
                    width: vw(90);
                }
                h3 {
                    margin-bottom: vw(20);
                    font-size: vw(50);
                }
                p {
                    font-size: vw(35);
                }
            }
            &_info {
                width: vw(670);
                padding: vw(40);
                .desc {
                    margin-bottom: vw(24);
                }
                .schedule {
                    dl {
                        display: table;
                        font-size: vw(26);
                        &:nth-of-type(n + 2) {
                            margin-top: vw(20);
                        }
                        dt {
                            padding: vw(24) 0;
                            width: vw(110);
                        }
                        dd {
                            padding: vw(10);
                        }
                    }
                    .notice {
                        margin-top: px(16);
                        font-size: vw(18);
                    }
                }
            }
        }
        .event-guest {
            margin-top: vw(55);
            width: vw(670);
            h4 {
                padding: vw(30);
                font-size: vw(26);
            }
            &_item {
                padding: vw(18) 0;
                width: 25%;
                margin-bottom: vw(2);
                font-size: vw(20);
                dl {
                    margin-top: vw(16);
                    dd {
                        font-size: vw(18);
                    }
                    dd:first-of-type {
                        margin-bottom: vw(16);
                    }
                }
            }
        }
    }
}
@at-root html[lang='en'] .news-article_event {
    .event-item {
        &_title {
            p {
                line-height: 1.3;
            }
        }
    }
    @include media-pc {
        .event-item {
            &_title {
                p {
                    font-size: px(16);
                }
            }
        }
    }
    @include media-sp {
        .event-item {
            &_title {
                p {
                    font-size: vw(30);
                }
            }
        }
        .event-guest {
            &_item {
                width: 33.3333%;
            }
        }
    }
}