@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";

section {
    z-index: 1;
}

.sec-title {
    &:after {
        content: none;
    }
    @include media-pc {
        font-size: px(26);
    }
    @include media-sp {

    }
}

#main {
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        z-index: 0;
        pointer-events: none;
    }
    @include media-pc {
        &:before {
            padding-top: 58.4%;
        }
    }
    @include media-sp {
        &:before {
            padding-top: 147%;
        }
    }
}

/* ---------------------------------------------------------------
KV
--------------------------------------------------------------- */
.kv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    &.none {
        display: none;
    }

    &-grandopen {
        position: absolute;
        margin: auto;
        text-align: center;
        color: white;
        line-height: 1.5;
        text-shadow: 1px 1px 12px black;
        span {
            display: inline-block;
            font-weight: 400;
        }
        strong {
            font-weight: 400;
        }
        img, svg {
            width: 100%;
            //filter: drop-shadow(0 3px 3px rgba(black,0.6));
            //-webkit-filter: drop-shadow(0 3px 3px rgba(black,0.6));
        }
    }

    picture {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    @include media-pc {
        img {
            width: 100%;
        }
        &-btn {
            margin-top: px(60);
            position: absolute;
            width: 100%;
            top: vw(310, 1440);
            a {
                width: px(290);
            }
        }
        &-grandopen {
            position: absolute;
            margin: auto;
            left: 0; right: 0;
            //top: vw(90, 1440);
            top: vw(130, 1440);
            width: vw(330, 1440);
            font-size: px(30);
        }
    }
    @include media-sp {
        height: vw(1105);

        img {
            width: 100%;
        }

        &-btn {
            margin-top: px(40);
            position: absolute;
            width: 100%;
            top: vw(420);
            a {
                width: 50vw;
            }
        }
        &-grandopen {
            position: absolute;
            margin: auto;
            left: 0; right: 0;
            top: vw(170);
            width: vw(420);
            font-size: vw(55);
        }
    }
}
// en -----
@at-root html[lang='en'] .kv {

}


/* ---------------------------------------------------------------
explore
--------------------------------------------------------------- */
.explore {
    background: url("../images/cmn/lower-bg.png") center 0 repeat-x $color-background;
    &-message {
        text-align: center;
        line-height: 1.2;
        @include font-serif;
    }
    &-list {
        margin: auto;
        //overflow: hidden;

        .slick-arr {
            position: absolute;
            color: white;
            border-radius: 50%;
            background: center center no-repeat #3f3a39;
            background-size: 40% auto;
            cursor: pointer;
            &.-prev {
                background-image: url("../images/cmn/arr-left-white.svg");
            }
            &.-next {
                background-image: url("../images/cmn/arr-right-white.svg");
            }
        }
    }
    &-item {
        display: block;
        outline: none;
        text-align: center;
        text-decoration: none;
        img {
            width: 100%;
        }
        &_image {
            text-align: center;
            img {
                display: inline-block;
                max-width: 100%;
            }
        }
        &_label {
            display: block;
        }
    }

    @include media-pc {
        padding-top: px(80);
        background-size: px(48) auto;
        &-message {
            margin: px(26) 0 px(42);
            p:nth-of-type(1) {
                margin-bottom: px(15);
                font-size: px(24);
            }
            p:nth-of-type(2) {
                font-size: px(48);
            }
        }
        &-list {
            width: 90%;
            max-width: px(1400);

            .slick-arr {
                position: absolute;
                top: 48%;
                width: px(36);
                height: px(36);
                z-index: 5;
                &.-prev {
                    left: px(-20);
                }
                &.-next {
                    right: px(-20);
                }
            }
        }
        &-item {
            padding: px(50) 0 px(40);
            background: transparent;
            @include transition(background-color 400ms $easeOutCubic);
            &:hover {
                background: #fdfbf7;
            }
            &_image {
                padding-bottom: px(50);
                img {
                    width: px(120);
                }
            }
            &_label {
                font-size: px(20);
            }
        }
    }
    @include media-sp {
        padding-top: vw(90);
        background-size: vw(92) auto;
        &-message {
            margin: vw(26) 0 vw(56);
            p {
                &:nth-of-type(1) {
                    margin-bottom: vw(30);
                    font-size: vw(30);
                }
                &:nth-of-type(2) {
                    font-size: vw(60);
                }
            }
        }
        &-list {
            .slick-dots {
                margin: auto;
                width: vw(600);
                @include clearfix;
                li {
                    float: left;
                    width: (100 / 6) + 0%;
                    background: #d5ccc0;
                    @include transition(background 400ms);
                    &.slick-active {
                        background: $color-red;
                    }
                    button {
                        display: block;
                        width: 100%;
                        height: vw(3);
                        font-size: 0;
                    }
                }
            }
            .slick-arr {
                position: absolute;
                top: 28%;
                width: vw(50);
                height: vw(50);
                z-index: 5;
                &.-prev {
                    left: vw(20);
                }
                &.-next {
                    right: vw(20);
                }
            }
        }
        &-item {
            padding-bottom: vw(80);
            &_image {
                padding-bottom: vw(50);
                img {
                    width: vw(370);
                }
            }
            &_label {
                font-size: vw(36);
            }
        }
    }
}
@at-root html[lang='en'] .explore {
    @include media-pc {
        &-message {
            p:nth-of-type(1) {
            }
            p:nth-of-type(2) {
                font-size: px(38);
            }
        }
    }
    @include media-sp {
        &-message {
            p:nth-of-type(2) {
                font-size: vw(70);
            }
        }
    }
}


/* ---------------------------------------------------------------
floor フロアマップ
--------------------------------------------------------------- */
.floor {
    background-color: $color-background;

    &-btn_block {
        text-align: center;
        font-size: 0;
    }

    &-btn {
        display: inline-block;
        background-color: $color-background;
        border-bottom: solid 2px #d7cdbf;
        text-decoration: none;
        color: #d7cdbf;
        font-size: 1rem;
        font-weight: 400;
        @include transition(all 300ms $easeOutCubic);

        &.-active {
            border-color: $color-red;
            color: $color-red;
        }
    }
    &-map_list {
        background: $color-background;
    }
    &-map {
        display: none;
        margin: auto;
        text-align: center;
        $MAP-W: 1440;
        $MAP-H: 600;
        picture {
            display: inline-block;
        }
        &.-active {
            display: block;
        }
        &_nav {
            position: absolute;
        }
        &-btn {
            position: absolute;
            color: white;
            border-radius: 50%;
            background: center center no-repeat #3f3a39;
            background-size: 40% auto;
            cursor: pointer;
            &.-prev {
                background-image: url("../images/cmn/arr-left-white.svg");
            }
            &.-next {
                background-image: url("../images/cmn/arr-right-white.svg");
            }
        }

        &_points {
            position: absolute;
            top: 0;
            left: 0;
            .point {
                position: absolute;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0; left: 0;
                    background: $color-red;
                    border-radius: 50%;
                    @include translate(-50%, -50%);
                }
            }
        }
        &_modal {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#3f3a39, 0.5);
            &-block {
                position: absolute;
                margin: auto;
                left: 0; right: 0;
                top: 50%;
                @include translateY(-50%);
                width: px(235);
                min-height: vw(100, $MAP-W);
                background: $color-background;
                padding: px(30) px(26);
                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 16px;
                    height: 16px;
                    &:after, &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        height: 1px;
                        background: $color-red;
                    }
                    &:before {
                        @include rotate(45deg);
                    }
                    &:after {
                        @include rotate(-45deg);
                    }
                }
                dl {
                    line-height: 1.4;
                    display: none;
                    dt {
                        text-align: center;
                        font-size: 0.875rem;
                        font-weight: 400;
                        margin-bottom: 0.75em;
                    }
                    dd {
                        line-height: 1.4;
                        font-size: 0.75rem;
                    }
                    &.-active {
                        display: block;
                    }
                }
            }
        }
    }

    @include media-pc {
        padding-top: px(40);
        &-btn_block {
            margin: px(40) 0 px(20);
        }
        &-btn {
            width: px(200);
            padding: px(18) 0;
            margin: 0 px(20);
            &:hover {
                border-color: $color-red;
                color: $color-red;
            }
        }

        &-map_list {
            overflow: hidden;
            height: vw(600, 1440);
            max-height: px(600);
        }
        &-map {
            width: 100%;
            max-width: px(1440);
            picture {
                display: inline-block;
                img {
                    width: 100%;
                }
            }
            &.floor-2F {
            }
            &.floor-3F {

            }
            &.floor-4F5F {

            }
            &_nav {
                display: none;
            }
            &_points {
                width: 100%;
                height: 100%;
                .point {
                    cursor: pointer;
                    @include transition(transform 200ms);
                    &:after {
                        width: vw(16, 1440);
                        height: vw(16, 1440);
                        max-width: px(12);
                        max-height: px(12);
                    }
                    &:hover {
                        @include scale(1.2);
                    }
                }
            }
            &_modal {
                &-block {
                    .icon {
                        img {
                            height: px(35);
                        }
                    }
                }
            }
        }
    }
    @include media-sp {
        padding-top: vw(80);
        overflow: hidden;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left:0;bottom:0;
            width: 100vw;
            height: 20px;
            background: $color-background;
        }
        &-btn_block {
            margin: vw(60) 0 vw(50);
        }
        &-btn {
            width: vw(126);
            padding: vw(40) 0;
            margin: 0 vw(30);
        }
        &-map_list {
            overflow: hidden;
            width: 100vw;
            height: vw(1100);
        }
        &-map {
            height: vw(1100);
            width: 100vw;
            overflow-y: hidden;
            overflow-x: scroll;
            picture {
                display: block;
                position: relative;
                img {
                    //border-top: solid 10px white;
                    height: vw(1100);
                }
            }

            &_nav {
                position: absolute;
                top: 50%;
                width: 100vw;
            }

            &-btn {
                position: absolute;
                width: vw(90);
                height: vw(90);
                &.-prev {
                    left: vw(10);
                }
                &.-next {
                    right: vw(10);
                }
            }

            &.floor-2F {

            }
            &.floor-3F {
                width: vw(2640);
                overflow: visible;
                margin-left: vw(-940);
            }
            &.floor-4F5F {

            }
            &_points {
                width: vw(2640);
                height: vw(1100);
                .point {
                    &:after {
                        width: vw(30);
                        height: vw(30);
                    }
                }
            }

            &_modal {
                &-block {
                    width: vw(500);
                    .icon img {
                        height: vw(65);
                    }
                }
            }
        }
    }
}

// ja -----
.floor {
    $MAP-W: 1440;
    $MAP-H: 600;
    &-map_points {
        .point {
            &[data-map-point="1"] {
                left: per(192, $MAP-W);
                top: per(234, $MAP-H);
            }
            &[data-map-point="2"] {
                left: per(237, $MAP-W);
                top: per(157, $MAP-H);
            }
            &[data-map-point="3"] {
                left: per(324, $MAP-W);
                top: per(150, $MAP-H);
            }
            &[data-map-point="4"] {
                left: per(272, $MAP-W);
                top: per(215, $MAP-H);
            }
            &[data-map-point="5"] {
                left: per(384, $MAP-W);
                top: per(200, $MAP-H);
            }
            &[data-map-point="6"] {
                left: per(405, $MAP-W);
                top: per(246, $MAP-H);
            }
            &[data-map-point="7"] {
                left: per(456, $MAP-W);
                top: per(108, $MAP-H);
            }
            &[data-map-point="8"] {
                left: per(160, $MAP-W);
                top: per(282, $MAP-H);
            }
            &[data-map-point="9"] {
                left: per(296, $MAP-W);
                top: per(282, $MAP-H);
            }
            &[data-map-point="10"] {
                left: per(266, $MAP-W);
                top: per(372, $MAP-H);
            }
            &[data-map-point="11"] {
                left: per(444, $MAP-W);
                top: per(362, $MAP-H);
            }
            &[data-map-point="12"] {
                left: per(262, $MAP-W);
                top: per(470, $MAP-H);
            }
            &[data-map-point="13"] {
                left: per(333, $MAP-W);
                top: per(406, $MAP-H);
            }
            &[data-map-point="14"] {
                left: per(564, $MAP-W);
                top: per(310, $MAP-H);
            }
            &[data-map-point="15"] {
                left: per(1016, $MAP-W);
                top: per(202, $MAP-H);
            }
            &[data-map-point="16"] {
                left: per(962, $MAP-W);
                top: per(256, $MAP-H);
            }
            &[data-map-point="17"] {
                left: per(1290, $MAP-W);
                top: per(424, $MAP-H);
            }
            &[data-map-point="18"] {
                left: per(1124, $MAP-W);
                top: per(452, $MAP-H);
            }

            &[data-map-point="19"] {
                left: per(770, $MAP-W);
                top: per(332, $MAP-H);
            }

            &[data-map-point="20"] {
                left: per(394, $MAP-W);
                top: per(288, $MAP-H);
            }
            &[data-map-point="21"] {
                left: per(394, $MAP-W);
                top: per(362, $MAP-H);
            }
            &[data-map-point="22"] {
                left: per(960, $MAP-W);
                top: per(164, $MAP-H);
            }
            &[data-map-point="23"] {
                left: per(520, $MAP-W);
                top: per(170, $MAP-H);
            }
            &[data-map-point="24"] {
                left: per(663, $MAP-W);
                top: per(135, $MAP-H);
            }

        }
    }
}
// en -----
@at-root html[lang='en'] .floor {
    $MAP-W: 1440;
    $MAP-H: 600;
    &-map_points {
        .point {
            &[data-map-point="3"] {
                left: per(324, $MAP-W);
                top: per(160, $MAP-H);
            }
            &[data-map-point="5"] {
                left: per(380, $MAP-W);
                top: per(196, $MAP-H);
            }
            &[data-map-point="6"] {
                left: per(398, $MAP-W);
                top: per(246, $MAP-H);
            }
            &[data-map-point="7"] {
                left: per(456, $MAP-W);
                top: per(124, $MAP-H);
            }
            &[data-map-point="8"] {
                left: per(170, $MAP-W);
                top: per(281, $MAP-H);
            }
            &[data-map-point="9"] {
                left: per(270, $MAP-W);
                top: per(281, $MAP-H);
            }
            &[data-map-point="13"] {
                left: per(360, $MAP-W);
                top: per(380, $MAP-H);
            }
            &[data-map-point="14"] {
                left: per(564, $MAP-W);
                top: per(296, $MAP-H);
            }
            &[data-map-point="15"] {
                left: per(1007, $MAP-W);
                top: per(202, $MAP-H);
            }
            &[data-map-point="18"] {
                left: per(1154, $MAP-W);
                top: per(420, $MAP-H);
            }
            &[data-map-point="22"] {
                left: per(950, $MAP-W);
                top: per(158, $MAP-H);
            }
            &[data-map-point="23"] {
                left: per(528, $MAP-W);
                top: per(176, $MAP-H);
            }
        }
    }
}

/* ---------------------------------------------------------------
news
--------------------------------------------------------------- */
.news {
    background: $color-background2;
    &-list {
        margin: auto;
    }
    &-item {
        margin: auto;
        width: 100%;
        img {
            width: 100%;
        }
        a {
            display: block;
            p {
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
                color: white;
                text-align: center;
                line-height: 1.4;
                letter-spacing: 0.05em;
                @include font-serif;
            }
        }
    }

    @include media-pc {
        padding: px(100) 0;
        &.-bg {
            background: url("../images/top/news-bg.jpg") center bottom repeat-x $color-background;
            background-size: px(55) auto;
        }
        &-list {
            width: 96%;
            max-width: px(1440);
            @include pie-clearfix;
            > * {
                &:nth-of-type(odd) {
                    float: left;
                }
                &:nth-of-type(even) {
                    float: right;
                }
            }

        }
        &-item {
            width: 49.2%;
            max-width: px(700);
            picture {
                @include transition(opacity 200ms);
            }
            a {
                p {
                    font-size: rem(36);
                }
            }
            &.-wide {
                width: 100%;
                max-width: 100%;
                a {
                    p {
                        font-size: rem(48);
                    }
                }
            }
            &:hover picture {
                opacity: 0.8;
            }
        }
    }
    @include media-sp {
        padding: vw(80) 0;

        &.-bg {
            background: url("../images/top/news-bg-sp.jpg") 0 0 no-repeat $color-background2;
            background-size: 100% auto;
        }
        &-list {
            > *:nth-of-type(n + 2) {
                margin-top: vw(40);
            }
        }
        &-item {
            width: vw(710);
            a {
                p {
                    font-size: vw(52);
                    text-shadow:0 0 16px #7b7b7b;
                    span {
                        display: inline-block;
                        padding-left: 0.5em;
                    }
                }
            }
            &.-wide {
                a {
                    p {
                        font-size: vw(76);
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------------------------
guide 営業案内
--------------------------------------------------------------- */
.guide {
    background-color: $color-background;
    .sec-title {
        margin-bottom: 0.7em;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 0;
        background: {
            position: center 0;
            repeat: no-repeat;
        }
    }

    &-list {
        margin: auto;
    }
    &-item {
        background: linear-gradient(to bottom, #f8f1e7, $color-background);
        &_info {
            dt {
                line-height: 1.4;
                font-weight: 400;
                span {
                    text-align: center;
                    font-size: 0.75em;
                }
            }
            dd {
                line-height: 1.4;
            }
            a {
                display: inline-block;
                padding-bottom: 0.2em;
                border: solid 1px $color-main;
                text-decoration: none;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0; bottom: 0;
                    right: 5%;
                    border-top: solid 1px $color-main;
                    border-right: solid 1px $color-main;
                    width: 0.5em;
                    height: 0.5em;
                    transform: rotate(45deg);
                }
            }
        }
        &.-time {
            background: $color-background;
        }
        &_closure {
            background: white;
            margin: auto;
            color: $color-red;
            font-weight: 400;
            line-height: 1.5;
            dt {
                margin-bottom: 1em;
                text-align: center;
            }
            dd {
                text-align: left;
            }
        }
    }

    @include media-pc {
        margin-top: px(-70);
        padding-top: px(120);
        &:before {
            background: {
                image: url("../images/top/guide-cloud.png");
            }
        }
        .sec-title {
            margin-bottom: px(30);
        }
        &-list {
            width: 98%;
            max-width: px(1300);
            display: flex;
            flex-flow: row wrap;
            align-content: stretch;
            justify-content: space-between;
        }
        &-item {
            width: 33%;
            height: px(280);
            padding: px(50) px(20) 0;
            text-align: center;
            &_icon {
                margin-bottom: px(16);
                img {
                    width: px(40);
                }
            }
            &_info {
                dt {
                    width: 100%;
                    min-height: px(56);
                    margin-bottom: px(14);
                    font-size: px(18);
                }
                dd {
                    font-size: px(12);
                    a {
                        padding: px(14);
                        width: px(176);
                        font-size: px(12);
                        transition: background-color 200ms;
                        &:hover {
                            background-color: $color-background3;
                        }
                    }
                }
            }
            &_closure {
                margin-top: 2em;
                padding: 2em;
                width: px(840);
                dt {
                    font-size: px(18);
                }
                dd {
                    padding-left: 1em;
                    font-size: px(16);
                }
            }
            &.-time {
                width: 100%;
                height: auto;
                padding: 0;
                margin-bottom: px(50);
                dt {
                    height: auto;
                }
            }
        }
    }
    @include media-sp {
        margin-top: vw(-40);
        padding: vw(60) 0 vw(60);
        &:before {
            background: {
                image: url("../images/top/guide-cloud-sp.png");
                size: 100% auto;
            }
        }

        &-list {
            padding: 0 vw(20);
            > div:nth-of-type(n + 2) {
                padding-top: vw(40);
            }
        }
        &-item {
            margin-bottom: vw(60);
            text-align: center;
            &_icon {
                margin-bottom: vw(40);
                text-align: center;
                img {
                    width: vw(80);
                }
            }
            &_info {
                dt {
                    padding-top: vw(6);
                    margin-bottom: vw(20);
                    font-size: vw(30);
                    line-height: 1.4;
                    span {
                        display: block;
                    }
                }
                dd {
                    font-size: vw(22);
                    a {

                        padding: vw(20);
                        width: vw(350);
                        font-size: vw(24);
                    }
                }
            }
            &_closure {
                margin-top: 1em;
                padding: 1em;
                dt {
                    font-size: vw(30);
                }
                dd {
                    padding-left: 1em;
                    font-size: vw(26);
                }
            }
        }
    }
}


@at-root html[lang='ja'] .guide {
    @include media-sp {
        &-item {
            .-station {
                dt {
                    span {
                        display: block;
                        overflow: hidden;
                        margin-left: 4.5em;
                        text-indent: -1em;
                    }
                }
            }
            .-parking {
                dt {
                    padding-top: 0.7em;
                }
            }
        }
    }
}

/* お詫び */
.modal-apology {
    .modal-in {
        bottom: auto;
        height: 96%;
        background-color: transparent;
        overflow: auto;
        .modal-content {
            //height: 96%;
            overflow: visible;
        }
        dl {
            padding-bottom: 1em;
            background-color: white;
        }
        dt {
            margin-bottom: 1em;
            text-align: center;
            font-weight: bold;
        }
    }
    @include media-pc {
        .modal-in {
            max-width: px(750);
            //padding: px(30);
            top: 2%;
            dl {
                padding: px(30);
            }
            dt {
                font-size: px(14);
            }
            dd {
                font-size: px(12);
            }
        }
    }
    @include media-sp {

        .modal-in {
            top: vw(25);
            dl {
                padding: vw(30) vw(30);
            }
            dt {
                font-size: vw(22);
            }
            dd {
                font-size: vw(18);
            }
        }
    }
}