@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";

.tickets {
    margin: auto;

    &-list {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
    }
    &-item {
        background-color: $color-background-white;
        picture {
            display: block;
            img {
                width: 100%;
            }
        }
        dl {
            box-sizing: border-box;
            line-height: 1.4;
        }

        &__title {
            font-size: px(16);
            font-weight: 700;
        }
        &__old-price {
            font-size: px(12);
            text-decoration: line-through;
            margin-top: px(10);
        }
        &__new-price {
            font-size: px(14);
            //text-align: right;
            &--hot {
                font-size: px(14);
                font-weight: 500;
            }
        }
        &__location {
            font-size: px(14);
            font-weight: 500;
            &--icon {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: url("../images/tickets/icon/pin.png") no-repeat 0 50%;
                background-size: contain;
                
            }
        }
        &__bottom-info {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__detail-btn {
            padding: px(3) px(20);
            background-color: $color-red;
            display: inline-flex;
            text-decoration: none;

            &--text {
                font-size: px(14);
                text-decoration: none;
                font-weight: 500;
                color: $color-background-white;
                padding-right: px(5);
            }

            &::after {
                content: "";
                display: block;
                position: relative;
                margin: auto;
                // top: 0;
                // bottom: 0;
                // right: 0;
                border-top: 1px solid $color-background-white;
                border-right: 1px solid $color-background-white;
                width: .4em;
                height: .4em;
                transform: rotate(45deg);
            }
        }

        
    }

    @include media-pc {
        width: 96%;
        margin-top: px(60);
        margin-bottom: px(150);
        max-width: px(1000);
        &-item {
            width: 27.5%;
            margin: 0 2.25% 5%;
            dl {
                padding: px(15);
            }
           
        }
    }
    @include media-sp {
        //margin-top: vw(70);
        //margin-bottom: vw(110);
        .sec-title {
            margin-bottom: vw(35);
            margin-top: vw(35);
        }

        &-list {
            width: 94.666vw;
            margin: auto;
        }

        &-item {
            margin-bottom: px(30);
            dl {
                padding: px(15);
            }
            &__title {
                margin-bottom: px(10);
                font-size: px(16);
                font-weight: 700;
            }
        }
    }
}