@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";

.sec-title {
    &:after {
        content: none;
    }
    @include media-pc {
        margin-bottom: px(50);
        font-size: px(24);
    }
    @include media-sp {
        margin-bottom: vw(70);
        padding-bottom: 0;
        font-size: vw(36);
    }
}

.campaign {

    &-list {
        overflow: hidden;
        margin: auto;
    }
    &-indicator {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 10;
        li {
            display: inline-block;
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #fdf6ec;
                transition: background-color 200ms;
            }
            &.slick-active:after {
                background-color: $color-red;
            }
        }
    }
    &-item {
        //position: absolute;
        //top: 0;
        //left: 0;
        width: 100%;

        picture {
            position: relative;
            display: block;
        }

        &_ticket {
            position: absolute;
            margin: auto;
            background: 0 0 no-repeat {
                size: contain;
            };

            .ticket-title {
                display: inline-block;
                @include font-serif;
                background: #dabb76;
            }
            .ticket-info {
                .desc,.note {
                    @include font-serif;
                    line-height: 1.2;
                    font-feature-settings: 'palt';
                }
                .off {
                    display: inline-block;
                    border: solid 2px $color-red;
                    color: $color-red;
                    font-weight: 400;
                }
            }
        }
    }

    @include media-pc {
        margin-top: px(50);
        margin-bottom: px(60);
        &-list {
            width: 100%;
            max-width: px(1440);
            height: px(492);
        }
        &-indicator {
            bottom: px(10);
            li {
                width: px(60);
                padding: px(10);
            }
        }
        &-item {
            height: px(492);
            overflow: hidden;

            picture {
                position: absolute;
                width: 100%;
                img {
                    position: relative;
                    width: px(1440);
                    height: px(492);
                    left: 50%;
                    margin-left: px(-770);
                }
            }

            &_ticket {
                top: 0; bottom: 0;
                left: 8%;
                width: px(530);
                height: px(370);
                padding-top: px(20);
                background-image: url("../images/tickets/campaign/campaign-bg.jpg");

                .ticket-title {
                    padding: px(6) px(18);
                    margin-left: px(-6);
                    font-size: px(23);
                }
                .ticket-info {
                    margin-top: px(38);
                    margin-left: px(66);
                    .off {
                        padding: px(4) px(6);
                        margin-bottom: px(10);
                        font-size: px(24);
                    }
                    .desc {
                        font-size: px(40);
                    }
                    .note {
                        margin: px(10) 0 px(18);
                        font-size: px(20);
                    }
                    .btn {
                        width: px(205);
                    }
                }
            }
        }
    }
    @include media-sp {
        padding-top: vw(70);
        margin-bottom: vw(50);

        &-list {
            width: 100%;
            height: vw(747);
        }
        &-indicator {
            bottom: 0;
            li {
                width: vw(160);
                padding: vw(30);
            }
        }
        &-item {
            width: 100%;
            height: vw(747);

            picture {
                position: absolute;
                height: vw(747);
                left: 50%;
                transform: translateX(-50%);
                img {
                    height: 100%;
                }
            }

            &_ticket {
                left: vw(40);
                bottom: vw(70);
                width: vw(480);
                height: vw(410);
                padding-top: vw(20);
                background-image: url("../images/tickets/campaign/campaign-bg-sp.jpg");

                .ticket-title {
                    padding: vw(6) vw(18);
                    margin-left: vw(-6);
                    font-size: vw(28);
                }
                .ticket-info {
                    margin-top: vw(30);
                    margin-left: vw(46);
                    .off {
                        padding: vw(4) vw(6);
                        margin-bottom: vw(16);
                        font-size: vw(24);
                    }
                    .desc {
                        font-size: vw(40);
                    }
                    .note {
                        margin: vw(16) 0 vw(22);
                        font-size: vw(26);
                    }
                    .btn {
                        padding: vw(20) 0;
                        width: vw(290);
                    }
                }
            }
        }
    }
}

.category {

    &-list {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: space-between;
    }
    &-item {
        display: block;
        picture {
            display: block;
            overflow: hidden;
            background-color: black;
            img {
                width: 100%;
            }
        }
        .category-name {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            @include font-serif;
            color: white;
            text-align: center;
        }
    }
    @include media-pc {
        margin-bottom: px(130);
        &-list {
            width: 96%;
            max-width: px(1080);
        }
        &-item {
            width: 49%;
            margin-bottom: 2%;
            .category-name {
                font-size: px(36);
            }
            picture img {
                transform: scale(1.01);
                transition: all 500ms $easeOutCubic;
            }
            &:hover img {
                opacity: 0.8;
                transform: scale(1.05);
            }
        }
    }
    @include media-sp {
        margin-bottom: vw(110);
        .sec-title {
            margin-bottom: vw(30);
        }
        &-list {
            width: vw(710);
        }
        &-item {
            margin-bottom: vw(30);
            .category-name {
                font-size: vw(40);
            }
        }
    }
}

.tickets {
    margin: auto;

    &-list {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
    }
    &-item {
        picture {
            display: block;
            img {
                width: 100%;
            }
        }
        dl {
            box-sizing: border-box;
            line-height: 1.4;
        }
        .btn {
            width: 100%;
        }
    }

    a.btn-back {
        display: inline-block;
        background-color: rgba($color-background2, 0);
        border: solid 1px $color-main;
        color: $color-main;
        text-align: center;
        text-decoration: none;
        line-height: 1;
    }
    .btn-area {
        text-align: center;
    }

    @include media-pc {
        width: 96%;
        margin-bottom: px(150);
        max-width: px(1100);
        &-item {
            background-color: $color-background2;
            width: 24.5%;
            margin: 0 0.25% 0.5%;
            dl {
                padding: px(25);
                dt {
                    font-size: px(20);
                }
                dd {
                    font-size: px(16);
                    &:nth-of-type(1) {
                        margin: px(8) 0 px(20);
                    }
                }
            }
        }

        .btn-area {
            margin-top: px(100);
        }
        a.btn-back {
            padding: px(16) 0;
            width: px(360);
            font-size: px(16);
            @include transition(background-color 300ms $easeOutCubic);
            &:hover {
                background-color: $color-background2;
            }
        }
    }
    @include media-sp {
        margin-bottom: vw(110);
        .sec-title {
            margin-bottom: vw(30);
        }

        &-item {
            dl {
                padding: vw(60);
                dt {
                    font-size: vw(40);
                }
                dd {
                    font-size: vw(32);
                    &:nth-of-type(1) {
                        margin: vw(16) 0 vw(40);
                    }
                }
            }
            .btn {
                padding: vw(20) 0;
                width: vw(290);
            }
        }
        .btn-area {
            margin-top: vw(100);
        }

        a.btn-back {
            padding: vw(22) 0;
            width: vw(670);
        }
    }
}