// size
// ---------------------------------------------------------------
$SP-WIDTH: 750;
$MID-WIDTH: 1200;

// breakpoint
$BP-PC: 769px;
$BP-SP: 768px;
$BP-MID: 1200px;


// color
// ---------------------------------------------------------------
$color-main: #54493a;
$color-red: #c30d23;
$color-background-white: #ffffff;
$color-background: #fdf6ec;
$color-background2: #f7efe5;
$color-background3: #f0e6da;
$color-background4: #ebe1d5;



// easing
// ---------------------------------------------------------------
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// functions, mixin
// ---------------------------------------------------------------
@function vw($size, $w:750) {
    $vw: ($size * 100 / $w);
    $vw: floor($vw * 1000) / 1000;
    @return $vw  + vw;
}
@function px($size) {
    @return $size + px;
}
@function rem($size, $base:16) {
    $rem: $size / $base;
    $rem: floor($rem * 100) / 100;
    @return $rem + rem;
}

@function per($n:0, $base:0) {
    $per: ($n * 100 / $base);
    $per: floor($per * 1000) / 1000;
    @return $per + 0%;
}
@mixin media-pc() {
    @media only screen and (min-width: $BP-PC) {
        @content;
    }
}
@mixin media-mid() {
    @media only screen and (min-width: $BP-SP) and (max-width: $BP-MID) {
        @content;
    }
}
@mixin media-sp() {
    @media only screen and (max-width: $BP-SP) {
        @content;
    }
}
@mixin media($min, $max:null) {
    @if $max != null {
        @media only screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    }
    @else {
        @media only screen and (min-width: $min) {
            @content;
        }
    }
}