@import "../../../node_modules/compass-mixins/lib/compass";
@import "settings";

// reset
@import "reset";

// lang
@import "lang/cn";

// module
@import "module";

// lib
@import "lib/slick";

// main
@import "main";

// top
.p-top {
    @import "p-top";
}
// fees
.p-fees {
    @import "p-fees";
}
// news
.p-news {
    @import "p-news";
}
// explore
.p-explore {
    @import "p-explore";
}
// tickets
.p-tickets {
    @import "p-tickets";
}

// term
.p-term {
    @import "p-term";
}
