@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

@mixin font-gothic() {
    font-family: 'Noto Sans JP', sans-serif;
}
@mixin font-serif() {
    font-family: 'Merriweather', serif;
}

body {
    @include font-gothic;
    font-weight: 300;
}
