<div class="news-list">
    <% if (category != 'momoyama') { %><div class="news-list_item">
        <a href="momoyama.html">
            <picture><img src="/assets/images/news/top/top-img-1.jpg" alt=""></picture>
            <p class="date">2019.1.15</p>
            <p class="desc">Discover the wonders of Azuchi-Momoyama era</p>
        </a>
    </div><% } %>
    <% if (category != 'heroes') { %><div class="news-list_item">
        <a href="heroes.html">
            <picture><img src="/assets/images/news/top/top-img-2.jpg" alt=""></picture>
            <p class="date">2019.1.15</p>
            <p class="desc">Solaniwa heroes</p>
        </a>
    </div><% } %>
</div>