<footer>
    <div class="f_follow">
        <h3 class="sec-title">FOLLOW US</h3>
        <ul class="f_follow-sns">
            <li class="facebook"><a href="https://www.facebook.com/solaniwa.onsen/" target="_blank">
                    <p class="icon"><img src="/assets/images/cmn/sns-fb.svg" alt="facebook"></p>
                    <p class="name">Facebook</p>
                </a></li>
            <li class="instagram"><a href="https://www.instagram.com/solaniwaonsen/" target="_blank">
                    <p class="icon"><img src="/assets/images/cmn/sns-ig.svg" alt="instagram"></p>
                    <p class="name">Instagram</p>
                </a></li>
            <li class="youtube"><a href="https://www.youtube.com/channel/UCiSisVmcROz1FJuGs363hew/" target="_blank">
                    <p class="icon"><img src="/assets/images/cmn/sns-yt.svg" alt="youtube"></p>
                    <p class="name">YouTube</p>
                </a></li>
        </ul>
    </div>
    <% if (lower != 1) { %>
    <div class="f_contact">
        <h3 class="sec-title">お問合せ</h3>
        <div class="f_contact-link">
            <a href="tel:0676705126" class="-tell js-contact-tell"><img src="/assets/images/cmn/icn-contact-phone.svg" alt="">06-7670-5126<br><span>【10:00〜18:00】</span></a>
            <a href="" class="-mail js-contact-mail">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/cmn/icn-contact-mail.svg">
                    <img src="/assets/images/cmn/icn-contact-mail.svg" alt="">
                </picture>&#105;&#110;&#102;&#111;&#64;&#115;&#111;&#108;&#97;&#110;&#105;&#119;&#97;&#45;&#111;&#110;&#115;&#101;&#110;&#46;&#99;&#111;&#109;</a>
        </div>
    </div>
    <div class="f_hotel">
        <picture>
            <source media="(max-width: 768px)" srcset="/assets/images/cmn/hotel-image-sp.jpg">
            <img src="/assets/images/cmn/hotel-image.jpg" alt="">
        </picture>
        <div class="f_hotel-info">
            <div class="f_hotel-name">
                <small>大阪ベイタワー 施設内ホテル</small><br>
                アートホテル大阪ベイタワー
            </div>
            <a href="https://www.osaka-baytower.com/" target="_blank" class="btn -center">Official site</a>
        </div>
    </div>
    <div class="f_about">
        <div class="f_about-block -service">
            <div class="f_about_title js-about-toggle">運営会社</div>
            <div class="f_about_body">
                <dl>
                    <dt>会社名</dt>
                    <dd>大阪ベイタワー合同会社</dd>
                    <dt>代表</dt>
                    <dd>山本俊祐</dd>
                    <dt>所在地</dt>
                    <dd>〒552-0007 大阪府大阪市港区弁天1-2-2</dd>
                    <dt>設立</dt>
                    <dd>2015年10月</dd>
                </dl>
            </div>
        </div>
        <div class="f_about-block -policy">
            <div class="f_about_title js-modal-open" data-modal-target="modal-policy">サイトポリシー</div>
        </div>
        <div class="f_about-block -privacy">
            <div class="f_about_title js-modal-open" data-modal-target="modal-privacy">プライバシーポリシー</div>
        </div>
        <div class="f_about-block -recruit">
            <div class="f_about_title"><a href="https://recruit.jobcan.jp/solaniwa" target="_blank">採用情報</a></div>
        </div>
    </div>
    <% } %>
    <div class="f_notice">※表示の価格 ・ 時間 ・ 名称はすべて予定です。内容はオープンまでに<br class="sp">予告なく変更する場合がございますのでご了承願います。</div>
    <div class="f_copyright">
        &copy; 2019 空庭温泉 OSAKA BAY TOWER
    </div>
</footer>

<% if (lower != 1) { %>
<div class="modal-window modal-policy">
    <div class="modal-in">
        <a href="" class="modal-close js-modal-close"></a>
        <div class="modal-content -policy">
            <div class="modal-content_head">
                <div class="sec-title">サイトポリシー</div>
                <dl>
                    <dt>ご利用にあたって</dt>
                    <dd>空庭温泉OSAKA BAY TOWERのウェブサイト (https://www.solaniwa.com) 以下のディレクトリ、および各種予約プログラムとメール送信プログラム（あわせて以下「本サイト」）は、大阪ベイタワー合同会社(以下「弊社」)または、その代理人が運営しております。本サイトを利用される前に、以下の利用規約をお読みください。<br>
                        本サイトをご利用された場合、この利用規約に同意されたものとみなします。
                    </dd>
                </dl>
            </div>
            <div class="modal-content_body">
                <dl>
                    <dt>サービス内容の変更について</dt>
                    <dd>弊社は、本サイト上で提供するサービスの内容を予告なく変更することがあります。また、保守作業やシステム障害その他の理由により、予告なく一時的または長期的に本サイトの全部または一部の運営を中止することがあります。</dd>

                    <dt>著作権</dt>
                    <dd>本サイトに掲載する情報の著作権は、原則として弊社に帰属します。弊社の文書による承諾がある場合を除き、本サイトに掲載された情報の二次使用を禁止します。</dd>

                    <dt>ご注意</dt>
                    <dd>弊社は予告なしに本サイト上の情報を変更することがあります。また本サイトの運営を中断ないしは中止する場合がありますので、あらかじめご了承ください。</dd>

                    <dt>掲載画像について</dt>
                    <dd>本サイトに掲載している写真画像は、お客様がご利用になる設備・商品・料理などの実物と印象が異なる場合がございます。予めご了承ください。</dd>

                    <dt>本サイトへのリンク</dt>
                    <dd>本サイトへのリンクは原則として自由です。但し、画像のみのリンクやフレーム内への利用はご遠慮ください。</dd>

                    <dt>リンク先に対する弊社の免責</dt>
                    <dd>本サイトは、本サイト内で提供する情報を補完するため、第三者のウェブサイトへのリンクを張ることがあります。本サイトからリンクを張っている第三者のウェブサイト(以下「リンク先サイト」)の内容は、それぞれの責任で管理されるものです。弊社はリンク先サイトの内容について、あるいはそれらをご利用になったことにより生じた損害について、一切の責任を負いません。</dd>

                    <dt>個人情報保護方針</dt>
                    <dd>本サイトにおいては、ご予約・お問合せ・会員登録などの手続きの際、お名前、ご住所等、お客様の個人情報に属する事項を入力していただくことがあります。ご入力いただいた情報は、お客様に有益なサービス等をご提供するために使用させていただき、それ以外の目的に使われることはありません。当施設の個人情報保護方針の詳細は、「プライバシーポリシー」のページをご参照ください。</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="modal-window modal-privacy">
    <div class="modal-in">
        <a href="" class="modal-close js-modal-close"></a>
        <div class="modal-content -privacy">
            <div class="modal-content_head">
                <div class="sec-title">個人情報保護方針</div>
                <dl>
                    <dd>空庭温泉 OSAKA BAY TOWERのウェブサイト(以下「本サイト」)では、ご予約・お問合せ・会員登録などの手続きに際してお名前、ご住所等、お客様の個人情報を入力していただきますが、ご入力いただいた個人情報は、以下の目的･方針に従ってお客様に有益なサービス等をご提供するために使用させていただきます。</dd>
                </dl>
            </div>
            <div class="modal-content_body">
                <dl>
                    <dt>1.個人情報を入力していただく場合</dt>
                    <dd>本サイトでは、ご予約・お問合せ・会員登録などのお手続きの際、各サービス・情報の手配･ご提供に必要なお客様の個人情報をご入力いただいております。</dd>

                    <dt>2.個人情報の利用</dt>
                    <dd>上記でご入力いただいた情報は、次の目的で利用させていただきます。</dd>

                    <dt class="f-smaller">［各種手配］</dt>
                    <dd>各種手配お申し込みフォームの主目的である予約作成・資料送付・お問合せへのご返答など、各種手配をいたします。</dd>

                    <dt class="f-smaller">［メールマガジン等による情報のご提供］</dt>
                    <dd>各種手配お申し込みフォームにてメールによるニュース配信のご許可をいただいた方及びメールマガジンのお申し込みをいただいた方に対し、イベント・料理フェア等をご案内いたします。</dd>

                    <dt class="f-smaller">［お客様へのご連絡］</dt>
                    <dd>その他、弊社においてお客様への連絡の必要が生じたとき、メール・電話・手紙にてご連絡を差し上げることがあります。</dd>

                    <dt>3.個人情報の管理</dt>
                    <dd>お客様の個人情報が保存されたデータベースは、弊社内管理責任者及び弊社が契約する業務委託先が管理しております。<br>
                    なお、本サイトを利用されたお客様の情報は、個人情報を除いた統計情報として利用させていただくことがあります。<br>
                    これらの情報は様々な形のマーケティングデータとして活用されますが、それ以外の目的で利用されることはありません。<br>
                    また、警察や裁判所等の公的機関から、法律に基づく正式な照会を受けた場合、その他、お客様・弊社・第三者にとって重大かつ緊急の必要がある場合には、法律が定める範囲で個人情報が利用されることがあります。</dd>

                    <dt>4.委託及び共同利用に関する事項</dt>
                    <dd>1) 宴会・ボディケア・衣装レンタル等のパッケージプラン<br>
                    　ボディケア・衣装レンタル・撮影等のサービスを提供する事業者と　の間で利用いたします。<br>
                    2) 館内施設等<br>
                    　ボディケア等のサービスを提供する事業者との間で利用いたします。<br>
                    3) 各会員組織運営等<br>
                    　会員入会関連手続、データ登録・管理等の総合的なサービスを提供　する事業者との間で共同して利用いたします。<br>
                    4) その他<br>
                    　総合的なサービスを提供する事業者および提携先との間で共同し　て利用いたします。</dd>


                    <dt>5.開示等に関する事項</dt>
                    <dd>当社は、お客様の個人情報をできるだけ正確かつ最新の内容で管理します。<br>
                    ご本人からお申し出があったときは、登録情報の開示を行います。<br>
                    また、内容が正確でないなどのお申し出があったときは、その内容を確認し必要に応じて登録情報の追加・変更・訂正または利用の停止等を行います。<br>
                    開示の求めに関する手続き (必要書類・受付の方法・ご本人確認の方法・手数料・その他) についての詳細は次の窓口までお問い合わせください。<br>
                    お客様の窓口: 06-6567-9016 (代表)</dd>

                    <dt>6.Cookieの利用</dt>
                    <dd>本サイトではCookieを利用しています。ブラウザの設定により、Cookieの機能を無効にすることができますが、その結果本サイトのサービスの一部がご利用いただけなくなることがあります。</dd>

                    <dt>7.アクセスログの記録</dt>
                    <dd>本サイトでは、アクセスされた方のアクセスログを記録しています。アクセスログには、アクセスされた方のドメイン名やIPアドレス、使用しているブラウザの種類、アクセス日時、リンク元などが含まれますが、個人を特定できる情報を含むものではありません。</dd>

                    <dt>8.プライバシーポリシーの改訂</dt>
                    <dd>当ポリシーに重要な変更がある場合には、本サイト上で告知いたします。その他の変更については、最新の情報を本サイト上で随時ご確認ください。</dd>
                </dl>
            </div>
        </div>

    </div>
</div>
<% } %>