<section class="magazine">
    <picture>
        <source media="(max-width: 768px)" srcset="/assets/images/cmn/magazine-bg-sp.jpg">
        <img src="/assets/images/cmn/magazine-bg.jpg" alt="">
    </picture>
    <div class="magazine-register">
        <dl>
            <dt>After logging into your mailbox</dt>
            <dd>you will find that we aperiodically <br>push the official information, <br>like promotions and purchase limits at a certain period.</dd>
        </dl>
        <div class="magazine-register_form">
            <!-- Begin Mailchimp Signup Form -->
            <form action="https://solaniwa.us7.list-manage.com/subscribe/post?u=cfff21c32c949d7e98c3ce2b0&amp;id=24ceaebf53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Please enter your email address here">
                        <input type="submit" value="＞" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cfff21c32c949d7e98c3ce2b0_24ceaebf53" tabindex="-1" value=""></div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>

    <div class="magazine-complete">
        <div class="magazine-complete_block">
            <p class="close"></p>
            <dl class="magazine-complete_head">
                <dt>Thanks for your login.</dt>
                <dd>A confirmation email will be sent to you from the email address below, please wait.</dd>
            </dl>
            <dl class="magazine-complete_lead">
                <dt class="js-register-adrs"></dt>
                <dd>※Once the mail is confirmed, it is usually sent within a few minutes.If you fail to receive the email after a few hours, please check the following.</dd>
            </dl>
            <div class="magazine-complete_note">
                <div>
                    <dl>
                        <dt>Perhaps the spam receiving function has been set up in the mailbox</dt>
                        <dd>the mail is automatically classified into the spam, resulting in the inability to receive the mail.<br>
                            <br>
                            solaniwa-onsen.com</dd>
                        <dt>If you still fail to receive the mail after setting the valid mail receiving function of solaniwa-onsen.com domain</dt>
                        <dd>you may have entered the wrong mailbox address.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>