<section class="magazine">
    <div class="magazine-bg"></div>
    <picture>
        <source media="(max-width: 768px)" srcset="/assets/images/cmn/magazine-bg-sp.jpg">
        <img src="/assets/images/cmn/magazine-bg.jpg" alt="">
    </picture>
    <div class="magazine-register">
        <dl>
            <dt>メールマガジンの登録</dt>
            <dd>お得なキャンペーンや期間限定プランなど、<br>
                公式サイトだけのおすすめ情報をお送りいたします。</dd>
        </dl>
        <div class="magazine-register_form">
            <!-- Begin Mailchimp Signup Form -->
            <form action="https://solaniwa.us7.list-manage.com/subscribe/post?u=cfff21c32c949d7e98c3ce2b0&amp;id=24ceaebf53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="ここにメールアドレスをご入力ください">
                        <input type="submit" value="＞" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cfff21c32c949d7e98c3ce2b0_24ceaebf53" tabindex="-1" value=""></div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>

    <div class="magazine-complete">
        <div class="magazine-complete_block">
            <p class="close"></p>
            <dl class="magazine-complete_head">
                <dt>ご登録ありがとうございます</dt>
                <dd>下記メールアドレスにご確認メールをお送りしておりますので<br class="sp">ご確認ください。</dd>
            </dl>
            <dl class="magazine-complete_lead">
                <dt class="js-register-adrs"></dt>
                <dd>※登録確認メールは通常数分以内に送信されます。数時間たってもメールが届かない場合は、以下のことをご確認ください。</dd>
            </dl>
            <div class="magazine-complete_note">
                <div>
                    <dl>
                        <dt>迷惑メール対策の設定をしている</dt>
                        <dd>確認メールが迷惑メールと判断され、受信できなかった可能性があります。下記各ドメインからのメール受信を許可するよう、ドメイン指定受信の設定を行った上で24時間経過後に改めてメールマガジン登録を行ってください。<br>
                            <br>
                            solaniwa-onsen.com</dd>
                        <dt>ドメイン指定受信設定をしているのに届かない</dt>
                        <dd>メールアドレスが誤って入力されている可能性があります。メールアドレスをご確認の上、改めて登録を行ってください。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>