<% var isTop;var page; %>
<nav class="fixed-nav"><!--
    --><% if (isTop) {%><a href="" class="nv-explore js-nv-explore"><% } else {%><a href="/#explore" class="nv-explore"><% } %>
        <p><img src="/assets/images/cmn/icn-fnav-explore-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-explore-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-explore-white.svg" alt=""></p>
        <span>Introduction</span>
    </a><!--
    --><% if (isTop) {%><a href="" class="nv-floor js-nv-floor"><% } else {%><a href="/#floor" class="nv-floor"><% } %>
        <p><img src="/assets/images/cmn/icn-fnav-map-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-map-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-map-white.svg" alt=""></p>
        <span>Floor map</span>
    </a><!--
    <% if (false) {%>--><a href="javascript:void(0);" class="nv-plan">
        <p><img src="/assets/images/cmn/icn-fnav-plan-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-plan-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-plan-white.svg" alt=""></p>
        <span>Plan</span>
    </a><!--<% } %>
    --><a href="/tickets/" class="nv-tickets <%= page=='tickets' ? '-active' : ''%>">
        <p><img src="/assets/images/cmn/icn-fnav-tickets-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-tickets-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-tickets-white.svg" alt=""></p>
        <span>Price</span>
    </a><!--
    --><a href="" class="nv-follow js-nv-follow">
        <p><img src="/assets/images/cmn/icn-fnav-follow-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-follow-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-follow-white.svg" alt=""></p>
        <span>Follow</span>
    </a><!--
    --><% if (isTop) {%><a href="" class="nv-guide js-nv-guide"><% } else {%><a href="/#guide" class="nv-guide"><% } %>
        <p><img src="/assets/images/cmn/icn-fnav-point-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-point-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-point-white.svg" alt=""></p>
        <span>Access</span>
    </a><!--
    --><a href="javascript:void(0);" class="nv-call">
        <p><img src="/assets/images/cmn/icn-fnav-call-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-call-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-call-white.svg" alt=""></p>
        <span class="pc">06-7670-5126</span><span class="sp">Call</span>
    </a><!--
--></nav>