<div class="news-list">
    <% if (category != 'faq') { %><div class="news-list_item">
        <a href="faq.html">
            <picture><img src="/assets/images/news/top/top-img-4.jpg" alt=""></picture>
            <p class="date">2019.2.15</p>
            <p class="desc">よくある質問</p>
        </a>
    </div><% } %>
    <% if (category != 'beginner') { %><div class="news-list_item">
        <a href="beginner.html">
            <picture><img src="/assets/images/news/top/top-img-5.jpg" alt=""></picture>
            <p class="date">2019.2.15</p>
            <p class="desc">初めての方へ</p>
        </a>
    </div><% } %>
    <% if (category != 'event') { %><div class="news-list_item">
        <a href="event.html">
            <picture><img src="/assets/images/news/top/top-img-6.jpg" alt=""></picture>
            <p class="date">2019.2.15</p>
            <p class="desc">ショー・イベントプログラム</p>
        </a>
    </div><% } %>
    <% if (category != 'momoyama') { %><div class="news-list_item">
        <a href="momoyama.html">
            <picture><img src="/assets/images/news/top/top-img-1.jpg" alt=""></picture>
            <p class="date">2019.1.15</p>
            <p class="desc">こころ踊る安土桃山時代</p>
        </a>
    </div><% } %>
    <% if (category != 'heros') { %><div class="news-list_item">
        <a href="heros.html">
            <picture><img src="/assets/images/news/top/top-img-2.jpg" alt=""></picture>
            <p class="date">2019.1.15</p>
            <p class="desc">空庭ヒーローズ</p>
        </a>
    </div><% } %>
    <% if (category != 'onsen') { %><div class="news-list_item">
        <a href="onsen.html">
            <picture><img src="/assets/images/news/top/top-img-3.jpg" alt=""></picture>
            <p class="date">2019.1.15</p>
            <p class="desc">空庭温泉で美味しく、愉しく、美しく</p>
        </a>
    </div><% } %>
</div>